<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@categoria.edit.headline">Edit Categoria</h1>
    <div>
        <a routerLink="/categorias" class="btn btn-secondary" i18n="@@categoria.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="idCategoria" rowType="number" i18n-label="@@categoria.idCategoria.label" label="Id Categoria" />
    <app-input-row [group]="editForm" field="idUsuReg" rowType="number" i18n-label="@@categoria.idUsuReg.label" label="Id Usu Reg" />
    <app-input-row [group]="editForm" field="idUsuMod" rowType="number" i18n-label="@@categoria.idUsuMod.label" label="Id Usu Mod" />
    <app-input-row [group]="editForm" field="nombreCat" i18n-label="@@categoria.nombreCat.label" label="Nombre Cat" />
    <input type="submit" i18n-value="@@categoria.edit.headline" value="Edit Categoria" class="btn btn-primary mt-4" />
</form>
