<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@observacionMonografia.edit.headline">Edit Observacion Monografia</h1>
    <div>
        <a routerLink="/observacionMonografias" class="btn btn-secondary" i18n="@@observacionMonografia.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="idObservacionMonografia" rowType="number" i18n-label="@@observacionMonografia.idObservacionMonografia.label" label="Id Observacion Monografia" />
    <app-input-row [group]="editForm" field="idUsuReg" rowType="number" i18n-label="@@observacionMonografia.idUsuReg.label" label="Id Usu Reg" />
    <app-input-row [group]="editForm" field="idUsuMod" rowType="number" i18n-label="@@observacionMonografia.idUsuMod.label" label="Id Usu Mod" />
    <app-input-row [group]="editForm" field="descripcion" rowType="textarea" i18n-label="@@observacionMonografia.descripcion.label" label="Descripcion" />
    <app-input-row [group]="editForm" field="revisionMonografia" rowType="select" [options]="revisionMonografiaValues" i18n-label="@@observacionMonografia.revisionMonografia.label" label="Revision Monografia" />
    <input type="submit" i18n-value="@@observacionMonografia.edit.headline" value="Edit Observacion Monografia" class="btn btn-primary mt-4" />
</form>
