<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@observacionMonografia.add.headline">Add Observacion Monografia</h1>
    <div>
        <a routerLink="/observacionMonografias" class="btn btn-secondary" i18n="@@observacionMonografia.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="idUsuReg" rowType="number" i18n-label="@@observacionMonografia.idUsuReg.label" label="Id Usu Reg" />
    <app-input-row [group]="addForm" field="idUsuMod" rowType="number" i18n-label="@@observacionMonografia.idUsuMod.label" label="Id Usu Mod" />
    <app-input-row [group]="addForm" field="descripcion" rowType="textarea" i18n-label="@@observacionMonografia.descripcion.label" label="Descripcion" />
    <app-input-row [group]="addForm" field="revisionMonografia" rowType="select" [options]="revisionMonografiaValues" i18n-label="@@observacionMonografia.revisionMonografia.label" label="Revision Monografia" />
    <input type="submit" i18n-value="@@observacionMonografia.add.headline" value="Add Observacion Monografia" class="btn btn-primary mt-4" />
</form>
