<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@observacionMonografia.list.headline">Observacion Monografias</h1>
    <div>
        <a routerLink="/observacionMonografias/add" class="btn btn-primary ms-2" i18n="@@observacionMonografia.list.createNew">Create new Observacion Monografia</a>
    </div>
</div>
@if (!observacionMonografias || observacionMonografias.length === 0) {
<div i18n="@@observacionMonografia.list.empty">No Observacion Monografias could be found.</div>
} @else {
<div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th scope="col" i18n="@@observacionMonografia.idObservacionMonografia.label">Id Observacion Monografia</th>
                <th scope="col" i18n="@@observacionMonografia.idUsuReg.label">Id Usu Reg</th>
                <th scope="col" i18n="@@observacionMonografia.idUsuMod.label">Id Usu Mod</th>
                <th scope="col" i18n="@@observacionMonografia.revisionMonografia.label">Revision Monografia</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody>
            @for (observacionMonografia of observacionMonografias; track observacionMonografia.idObservacionMonografia) {
            <tr>
                <td>{{ observacionMonografia.idObservacionMonografia }}</td>
                <td>{{ observacionMonografia.idUsuReg }}</td>
                <td>{{ observacionMonografia.idUsuMod }}</td>
                <td>{{ observacionMonografia.revisionMonografia }}</td>
                <td>
                    <div class="float-end text-nowrap">
                        <a [routerLink]="['/observacionMonografias/edit', observacionMonografia.idObservacionMonografia]" class="btn btn-sm btn-secondary" i18n="@@observacionMonografia.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(observacionMonografia.idObservacionMonografia!)" class="btn btn-sm btn-secondary" i18n="@@observacionMonografia.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
