<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@calificacion.list.headline">Calificacions</h1>
    <div>
        <a routerLink="/calificacions/add" class="btn btn-primary ms-2" i18n="@@calificacion.list.createNew">Create new Calificacion</a>
    </div>
</div>
@if (!calificacions || calificacions.length === 0) {
<div i18n="@@calificacion.list.empty">No Calificacions could be found.</div>
} @else {
<div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th scope="col" i18n="@@calificacion.idCalificacion.label">Id Calificacion</th>
                <th scope="col" i18n="@@calificacion.idUsuReg.label">Id Usu Reg</th>
                <th scope="col" i18n="@@calificacion.idUsuMod.label">Id Usu Mod</th>
                <th scope="col" i18n="@@calificacion.nota.label">Nota</th>
                <th scope="col" i18n="@@calificacion.criterioEval.label">Criterio Eval</th>
                <th scope="col" i18n="@@calificacion.programacion.label">Programacion</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody>
            @for (calificacion of calificacions; track calificacion.idCalificacion) {
            <tr>
                <td>{{ calificacion.idCalificacion }}</td>
                <td>{{ calificacion.idUsuReg }}</td>
                <td>{{ calificacion.idUsuMod }}</td>
                <td>{{ calificacion.nota }}</td>
                <td>{{ calificacion.criterioEval }}</td>
                <td>{{ calificacion.programacion }}</td>
                <td>
                    <div class="float-end text-nowrap">
                        <a [routerLink]="['/calificacions/edit', calificacion.idCalificacion]" class="btn btn-sm btn-secondary" i18n="@@calificacion.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(calificacion.idCalificacion!)" class="btn btn-sm btn-secondary" i18n="@@calificacion.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
