<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@modulo.add.headline">Add Modulo</h1>
    <div>
        <a routerLink="/modulos" class="btn btn-secondary" i18n="@@modulo.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="idUsuReg" rowType="number" i18n-label="@@modulo.idUsuReg.label" label="Id Usu Reg" />
    <app-input-row [group]="addForm" field="idUsuMod" rowType="number" i18n-label="@@modulo.idUsuMod.label" label="Id Usu Mod" />
    <app-input-row [group]="addForm" field="nombreMod" i18n-label="@@modulo.nombreMod.label" label="Nombre Mod" />
    <app-input-row [group]="addForm" field="competencia" rowType="textarea" i18n-label="@@modulo.competencia.label" label="Competencia" />
    <input type="submit" i18n-value="@@modulo.add.headline" value="Add Modulo" class="btn btn-primary mt-4" />
</form>
