<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@tarea.edit.headline">Edit Tarea</h1>
    <div>
        <a routerLink="/tareas" class="btn btn-secondary" i18n="@@tarea.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="idTarea" rowType="number" i18n-label="@@tarea.idTarea.label" label="Id Tarea" />
    <app-input-row [group]="editForm" field="idUsuReg" rowType="number" i18n-label="@@tarea.idUsuReg.label" label="Id Usu Reg" />
    <app-input-row [group]="editForm" field="idUsuMod" rowType="number" i18n-label="@@tarea.idUsuMod.label" label="Id Usu Mod" />
    <app-input-row [group]="editForm" field="nombreTarea" i18n-label="@@tarea.nombreTarea.label" label="Nombre Tarea" />
    <app-input-row [group]="editForm" field="descripTarea" rowType="textarea" i18n-label="@@tarea.descripTarea.label" label="Descrip Tarea" />
    <app-input-row [group]="editForm" field="estTarea" rowType="checkbox" i18n-label="@@tarea.estTarea.label" label="Est Tarea" />
    <app-input-row [group]="editForm" field="agrupa" rowType="select" [options]="agrupaValues" i18n-label="@@tarea.agrupa.label" label="Agrupa" />
    <input type="submit" i18n-value="@@tarea.edit.headline" value="Edit Tarea" class="btn btn-primary mt-4" />
</form>
