<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@rol.add.headline">Add Rol</h1>
    <div>
        <a routerLink="/rols" class="btn btn-secondary" i18n="@@rol.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="idUsuReg" rowType="number" i18n-label="@@rol.idUsuReg.label" label="Id Usu Reg" />
    <app-input-row [group]="addForm" field="idUsuMod" rowType="number" i18n-label="@@rol.idUsuMod.label" label="Id Usu Mod" />
    <app-input-row [group]="addForm" field="nombre" i18n-label="@@rol.nombre.label" label="Nombre" />
    <app-input-row [group]="addForm" field="estCargo" i18n-label="@@rol.estCargo.label" label="Est Cargo" />
    <app-input-row [group]="addForm" field="descripcionCargo" rowType="textarea" i18n-label="@@rol.descripcionCargo.label" label="Descripcion Cargo" />
    <input type="submit" i18n-value="@@rol.add.headline" value="Add Rol" class="btn btn-primary mt-4" />
</form>
