<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@grupo.list.headline">Grupoes</h1>
    <div>
        <a routerLink="/grupos/add" class="btn btn-primary ms-2" i18n="@@grupo.list.createNew">Create new Grupo</a>
    </div>
</div>
@if (!grupoes || grupoes.length === 0) {
<div i18n="@@grupo.list.empty">No Grupoes could be found.</div>
} @else {
<div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th scope="col" i18n="@@grupo.idGrupo.label">Id Grupo</th>
                <th scope="col" i18n="@@grupo.idUsuReg.label">Id Usu Reg</th>
                <th scope="col" i18n="@@grupo.idUsuMod.label">Id Usu Mod</th>
                <th scope="col" i18n="@@grupo.nombreGrupo.label">Nombre Grupo</th>
                <th scope="col" i18n="@@grupo.estGrupo.label">Est Grupo</th>
                <th scope="col" i18n="@@grupo.version.label">Version</th>
                <th scope="col" i18n="@@grupo.programa.label">Programa</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody>
            @for (grupo of grupoes; track grupo.idGrupo) {
            <tr>
                <td>{{ grupo.idGrupo }}</td>
                <td>{{ grupo.idUsuReg }}</td>
                <td>{{ grupo.idUsuMod }}</td>
                <td>{{ grupo.nombreGrupo }}</td>
                <td>{{ grupo.estGrupo }}</td>
                <td>{{ grupo.version }}</td>
                <td>{{ grupo.programa }}</td>
                <td>
                    <div class="float-end text-nowrap">
                        <a [routerLink]="['/grupos/edit', grupo.idGrupo]" class="btn btn-sm btn-secondary" i18n="@@grupo.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(grupo.idGrupo!)" class="btn btn-sm btn-secondary" i18n="@@grupo.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
