<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@grupo.add.headline">Add Grupo</h1>
    <div>
        <a routerLink="/grupos" class="btn btn-secondary" i18n="@@grupo.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="idUsuReg" rowType="number" i18n-label="@@grupo.idUsuReg.label" label="Id Usu Reg" />
    <app-input-row [group]="addForm" field="idUsuMod" rowType="number" i18n-label="@@grupo.idUsuMod.label" label="Id Usu Mod" />
    <app-input-row [group]="addForm" field="nombreGrupo" i18n-label="@@grupo.nombreGrupo.label" label="Nombre Grupo" />
    <app-input-row [group]="addForm" field="estGrupo" i18n-label="@@grupo.estGrupo.label" label="Est Grupo" />
    <app-input-row [group]="addForm" field="version" rowType="select" [options]="versionValues" i18n-label="@@grupo.version.label" label="Version" />
    <app-input-row [group]="addForm" field="programa" rowType="select" [options]="programaValues" i18n-label="@@grupo.programa.label" label="Programa" />
    <input type="submit" i18n-value="@@grupo.add.headline" value="Add Grupo" class="btn btn-primary mt-4" />
</form>
