<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@detallePago.list.headline">Detalle Pagoes</h1>
    <div>
        <a routerLink="/detallePagos/add" class="btn btn-primary ms-2" i18n="@@detallePago.list.createNew">Create new Detalle Pago</a>
    </div>
</div>
@if (!detallePagoes || detallePagoes.length === 0) {
<div i18n="@@detallePago.list.empty">No Detalle Pagoes could be found.</div>
} @else {
<div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th scope="col" i18n="@@detallePago.idDetallePago.label">Id Detalle Pago</th>
                <th scope="col" i18n="@@detallePago.idUsuReg.label">Id Usu Reg</th>
                <th scope="col" i18n="@@detallePago.idUsuMod.label">Id Usu Mod</th>
                <th scope="col" i18n="@@detallePago.montoPagadoDetalle.label">Monto Pagado Detalle</th>
                <th scope="col" i18n="@@detallePago.planPago.label">Plan Pago</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody>
            @for (detallePago of detallePagoes; track detallePago.idDetallePago) {
            <tr>
                <td>{{ detallePago.idDetallePago }}</td>
                <td>{{ detallePago.idUsuReg }}</td>
                <td>{{ detallePago.idUsuMod }}</td>
                <td>{{ detallePago.montoPagadoDetalle }}</td>
                <td>{{ detallePago.planPago }}</td>
                <td>
                    <div class="float-end text-nowrap">
                        <a [routerLink]="['/detallePagos/edit', detallePago.idDetallePago]" class="btn btn-sm btn-secondary" i18n="@@detallePago.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(detallePago.idDetallePago!)" class="btn btn-sm btn-secondary" i18n="@@detallePago.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
