<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@programacion.list.headline">Programacions</h1>
    <div>
        <a routerLink="/programacions/add" class="btn btn-primary ms-2" i18n="@@programacion.list.createNew">Create new Programacion</a>
    </div>
</div>
@if (!programacions || programacions.length === 0) {
<div i18n="@@programacion.list.empty">No Programacions could be found.</div>
} @else {
<div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th scope="col" i18n="@@programacion.idProgramacion.label">Id Programacion</th>
                <th scope="col" i18n="@@programacion.idUsuReg.label">Id Usu Reg</th>
                <th scope="col" i18n="@@programacion.idUsuMod.label">Id Usu Mod</th>
                <th scope="col" i18n="@@programacion.observacion.label">Observacion</th>
                <th scope="col" i18n="@@programacion.fecProgramacion.label">Fec Programacion</th>
                <th scope="col" i18n="@@programacion.estCalificacion.label">Est Calificacion</th>
                <th scope="col" i18n="@@programacion.tipoProgramacion.label">Tipo Programacion</th>
                <th scope="col" i18n="@@programacion.calificacionFinal.label">Calificacion Final</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody>
            @for (programacion of programacions; track programacion.idProgramacion) {
            <tr>
                <td>{{ programacion.idProgramacion }}</td>
                <td>{{ programacion.idUsuReg }}</td>
                <td>{{ programacion.idUsuMod }}</td>
                <td>{{ programacion.observacion }}</td>
                <td>{{ programacion.fecProgramacion }}</td>
                <td>{{ programacion.estCalificacion }}</td>
                <td>{{ programacion.tipoProgramacion }}</td>
                <td>{{ programacion.calificacionFinal }}</td>
                <td>
                    <div class="float-end text-nowrap">
                        <a [routerLink]="['/programacions/edit', programacion.idProgramacion]" class="btn btn-sm btn-secondary" i18n="@@programacion.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(programacion.idProgramacion!)" class="btn btn-sm btn-secondary" i18n="@@programacion.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
