<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@nivel.edit.headline">Edit Nivel</h1>
    <div>
        <a routerLink="/nivels" class="btn btn-secondary" i18n="@@nivel.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="idNivel" rowType="number" i18n-label="@@nivel.idNivel.label" label="Id Nivel" />
    <app-input-row [group]="editForm" field="idUsuReg" rowType="number" i18n-label="@@nivel.idUsuReg.label" label="Id Usu Reg" />
    <app-input-row [group]="editForm" field="idUsuMod" rowType="number" i18n-label="@@nivel.idUsuMod.label" label="Id Usu Mod" />
    <app-input-row [group]="editForm" field="nombreNivel" i18n-label="@@nivel.nombreNivel.label" label="Nombre Nivel" />
    <input type="submit" i18n-value="@@nivel.edit.headline" value="Edit Nivel" class="btn btn-primary mt-4" />
</form>
