<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@planEstudio.edit.headline">Edit Plan Estudio</h1>
    <div>
        <a routerLink="/planEstudios" class="btn btn-secondary" i18n="@@planEstudio.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="idPlanEstudio" rowType="number" i18n-label="@@planEstudio.idPlanEstudio.label" label="Id Plan Estudio" />
    <app-input-row [group]="editForm" field="idUsuReg" rowType="number" i18n-label="@@planEstudio.idUsuReg.label" label="Id Usu Reg" />
    <app-input-row [group]="editForm" field="idUsuMod" rowType="number" i18n-label="@@planEstudio.idUsuMod.label" label="Id Usu Mod" />
    <app-input-row [group]="editForm" field="anho" rowType="number" i18n-label="@@planEstudio.anho.label" label="Anho" />
    <app-input-row [group]="editForm" field="vigente" rowType="checkbox" i18n-label="@@planEstudio.vigente.label" label="Vigente" />
    <app-input-row [group]="editForm" field="programa" rowType="select" [options]="programaValues" i18n-label="@@planEstudio.programa.label" label="Programa" />
    <input type="submit" i18n-value="@@planEstudio.edit.headline" value="Edit Plan Estudio" class="btn btn-primary mt-4" />
</form>
