<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@planEstudio.add.headline">Add Plan Estudio</h1>
    <div>
        <a routerLink="/planEstudios" class="btn btn-secondary" i18n="@@planEstudio.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="idUsuReg" rowType="number" i18n-label="@@planEstudio.idUsuReg.label" label="Id Usu Reg" />
    <app-input-row [group]="addForm" field="idUsuMod" rowType="number" i18n-label="@@planEstudio.idUsuMod.label" label="Id Usu Mod" />
    <app-input-row [group]="addForm" field="anho" rowType="number" i18n-label="@@planEstudio.anho.label" label="Anho" />
    <app-input-row [group]="addForm" field="vigente" rowType="checkbox" i18n-label="@@planEstudio.vigente.label" label="Vigente" />
    <app-input-row [group]="addForm" field="programa" rowType="select" [options]="programaValues" i18n-label="@@planEstudio.programa.label" label="Programa" />
    <input type="submit" i18n-value="@@planEstudio.add.headline" value="Add Plan Estudio" class="btn btn-primary mt-4" />
</form>
