<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@monografia.edit.headline">Edit Monografia</h1>
    <div>
        <a routerLink="/monografias" class="btn btn-secondary" i18n="@@monografia.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="idMonografia" rowType="number" i18n-label="@@monografia.idMonografia.label" label="Id Monografia" />
    <app-input-row [group]="editForm" field="idUsuReg" rowType="number" i18n-label="@@monografia.idUsuReg.label" label="Id Usu Reg" />
    <app-input-row [group]="editForm" field="idUsuMod" rowType="number" i18n-label="@@monografia.idUsuMod.label" label="Id Usu Mod" />
    <app-input-row [group]="editForm" field="titulo" i18n-label="@@monografia.titulo.label" label="Titulo" />
    <app-input-row [group]="editForm" field="estMonografia" i18n-label="@@monografia.estMonografia.label" label="Est Monografia" />
    <app-input-row [group]="editForm" field="notaFinal" rowType="number" i18n-label="@@monografia.notaFinal.label" label="Nota Final" />
    <app-input-row [group]="editForm" field="matricula" rowType="select" [options]="matriculaValues" i18n-label="@@monografia.matricula.label" label="Matricula" />
    <input type="submit" i18n-value="@@monografia.edit.headline" value="Edit Monografia" class="btn btn-primary mt-4" />
</form>
