<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@planPago.list.headline">Plan Pagoes</h1>
    <div>
        <a routerLink="/planPagos/add" class="btn btn-primary ms-2" i18n="@@planPago.list.createNew">Create new Plan Pago</a>
    </div>
</div>
@if (!planPagoes || planPagoes.length === 0) {
<div i18n="@@planPago.list.empty">No Plan Pagoes could be found.</div>
} @else {
<div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th scope="col" i18n="@@planPago.idPlanPago.label">Id Plan Pago</th>
                <th scope="col" i18n="@@planPago.idUsuReg.label">Id Usu Reg</th>
                <th scope="col" i18n="@@planPago.idUsuMod.label">Id Usu Mod</th>
                <th scope="col" i18n="@@planPago.deudaTotal.label">Deuda Total</th>
                <th scope="col" i18n="@@planPago.pagadoTotal.label">Pagado Total</th>
                <th scope="col" i18n="@@planPago.estPlanPago.label">Est Plan Pago</th>
                <th scope="col" i18n="@@planPago.concepto.label">Concepto</th>
                <th scope="col" i18n="@@planPago.matricula.label">Matricula</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody>
            @for (planPago of planPagoes; track planPago.idPlanPago) {
            <tr>
                <td>{{ planPago.idPlanPago }}</td>
                <td>{{ planPago.idUsuReg }}</td>
                <td>{{ planPago.idUsuMod }}</td>
                <td>{{ planPago.deudaTotal }}</td>
                <td>{{ planPago.pagadoTotal }}</td>
                <td>{{ planPago.estPlanPago }}</td>
                <td>{{ planPago.concepto }}</td>
                <td>{{ planPago.matricula }}</td>
                <td>
                    <div class="float-end text-nowrap">
                        <a [routerLink]="['/planPagos/edit', planPago.idPlanPago]" class="btn btn-sm btn-secondary" i18n="@@planPago.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(planPago.idPlanPago!)" class="btn btn-sm btn-secondary" i18n="@@planPago.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
