<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@programa.add.headline">Add Programa</h1>
    <div>
        <a routerLink="/programas" class="btn btn-secondary" i18n="@@programa.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="idUsuReg" rowType="number" i18n-label="@@programa.idUsuReg.label" label="Id Usu Reg" />
    <app-input-row [group]="addForm" field="idUsuMod" rowType="number" i18n-label="@@programa.idUsuMod.label" label="Id Usu Mod" />
    <app-input-row [group]="addForm" field="nombrePrograma" i18n-label="@@programa.nombrePrograma.label" label="Nombre Programa" />
    <app-input-row [group]="addForm" field="estPrograma" i18n-label="@@programa.estPrograma.label" label="Est Programa" />
    <app-input-row [group]="addForm" field="modalidad" rowType="select" [options]="modalidadValues" i18n-label="@@programa.modalidad.label" label="Modalidad" />
    <app-input-row [group]="addForm" field="categoria" rowType="select" [options]="categoriaValues" i18n-label="@@programa.categoria.label" label="Categoria" />
    <input type="submit" i18n-value="@@programa.add.headline" value="Add Programa" class="btn btn-primary mt-4" />
</form>
