<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@preinscripcion.edit.headline">Edit Preinscripcion</h1>
    <div>
        <a routerLink="/preinscripcions" class="btn btn-secondary" i18n="@@preinscripcion.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="idPreinscripcion" rowType="number" i18n-label="@@preinscripcion.idPreinscripcion.label" label="Id Preinscripcion" />
    <app-input-row [group]="editForm" field="idUsuReg" rowType="number" i18n-label="@@preinscripcion.idUsuReg.label" label="Id Usu Reg" />
    <app-input-row [group]="editForm" field="idUsuMod" rowType="number" i18n-label="@@preinscripcion.idUsuMod.label" label="Id Usu Mod" />
    <app-input-row [group]="editForm" field="nombres" i18n-label="@@preinscripcion.nombres.label" label="Nombres" />
    <app-input-row [group]="editForm" field="paterno" i18n-label="@@preinscripcion.paterno.label" label="Paterno" />
    <app-input-row [group]="editForm" field="materno" i18n-label="@@preinscripcion.materno.label" label="Materno" />
    <app-input-row [group]="editForm" field="ci" i18n-label="@@preinscripcion.ci.label" label="Ci" />
    <app-input-row [group]="editForm" field="celular" i18n-label="@@preinscripcion.celular.label" label="Celular" />
    <input type="submit" i18n-value="@@preinscripcion.edit.headline" value="Edit Preinscripcion" class="btn btn-primary mt-4" />
</form>
