<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@preinscripcion.list.headline">Preinscripcions</h1>
    <div>
        <a routerLink="/preinscripcions/add" class="btn btn-primary ms-2" i18n="@@preinscripcion.list.createNew">Create new Preinscripcion</a>
    </div>
</div>
@if ((preinscripcions && preinscripcions.page.totalElements !== 0) || route.snapshot.queryParamMap.get('filter')) {
<div class="row">
    <app-search-filter i18n-placeholder="@@preinscripcion.list.filter" placeholder="Filter by Id Preinscripcion" class="col-md-6 col-lg-4" />
    <app-sorting [sortOptions]="sortOptions" class="col-md-6 col-lg-4 offset-lg-4" />
</div>
}
@if (!preinscripcions || preinscripcions.page.totalElements === 0) {
<div i18n="@@preinscripcion.list.empty">No Preinscripcions could be found.</div>
} @else {
<div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th scope="col" i18n="@@preinscripcion.idPreinscripcion.label">Id Preinscripcion</th>
                <th scope="col" i18n="@@preinscripcion.idUsuReg.label">Id Usu Reg</th>
                <th scope="col" i18n="@@preinscripcion.idUsuMod.label">Id Usu Mod</th>
                <th scope="col" i18n="@@preinscripcion.nombres.label">Nombres</th>
                <th scope="col" i18n="@@preinscripcion.paterno.label">Paterno</th>
                <th scope="col" i18n="@@preinscripcion.materno.label">Materno</th>
                <th scope="col" i18n="@@preinscripcion.ci.label">Ci</th>
                <th scope="col" i18n="@@preinscripcion.celular.label">Celular</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody>
            @for (preinscripcion of preinscripcions.content; track preinscripcion.idPreinscripcion) {
            <tr>
                <td>{{ preinscripcion.idPreinscripcion }}</td>
                <td>{{ preinscripcion.idUsuReg }}</td>
                <td>{{ preinscripcion.idUsuMod }}</td>
                <td>{{ preinscripcion.nombres }}</td>
                <td>{{ preinscripcion.paterno }}</td>
                <td>{{ preinscripcion.materno }}</td>
                <td>{{ preinscripcion.ci }}</td>
                <td>{{ preinscripcion.celular }}</td>
                <td>
                    <div class="float-end text-nowrap">
                        <a [routerLink]="['/preinscripcions/edit', preinscripcion.idPreinscripcion]" class="btn btn-sm btn-secondary" i18n="@@preinscripcion.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(preinscripcion.idPreinscripcion!)" class="btn btn-sm btn-secondary" i18n="@@preinscripcion.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<app-pagination [page]="preinscripcions.page" />
}
