<h1 class="mb-4" i18n="@@authentication.login.headline">Login</h1>
<form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="loginForm" field="nombreUsuario" i18n-label="@@authentication.nombreUsuario.label" label="Nombre Usuario" />
    <app-input-row [group]="loginForm" field="password" rowType="password" i18n-label="@@authentication.password.label" label="Password" />
    <input type="submit" i18n-value="@@authentication.login.headline" value="Login" class="btn btn-primary mt-4" />
</form>
