<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@comprobantePago.edit.headline">Edit Comprobante Pago</h1>
    <div>
        <a routerLink="/comprobantePagos" class="btn btn-secondary" i18n="@@comprobantePago.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="idComprobante" rowType="number" i18n-label="@@comprobantePago.idComprobante.label" label="Id Comprobante" />
    <app-input-row [group]="editForm" field="idUsuReg" rowType="number" i18n-label="@@comprobantePago.idUsuReg.label" label="Id Usu Reg" />
    <app-input-row [group]="editForm" field="idUsuMod" rowType="number" i18n-label="@@comprobantePago.idUsuMod.label" label="Id Usu Mod" />
    <app-input-row [group]="editForm" field="codComprobante" i18n-label="@@comprobantePago.codComprobante.label" label="Cod Comprobante" />
    <app-input-row [group]="editForm" field="monto" i18n-label="@@comprobantePago.monto.label" label="Monto" />
    <app-input-row [group]="editForm" field="fecComprobante" rowType="datetimepicker" i18n-label="@@comprobantePago.fecComprobante.label" label="Fec Comprobante" />
    <app-input-row [group]="editForm" field="tipoDeposito" i18n-label="@@comprobantePago.tipoDeposito.label" label="Tipo Deposito" />
    <app-input-row [group]="editForm" field="listaDetallesPagos" rowType="multiselect" [options]="listaDetallesPagosValues" i18n-label="@@comprobantePago.listaDetallesPagos.label" label="Lista Detalles Pagos" />
    <input type="submit" i18n-value="@@comprobantePago.edit.headline" value="Edit Comprobante Pago" class="btn btn-primary mt-4" />
</form>
