<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@administrativo.edit.headline">Edit Administrativo</h1>
    <div>
        <a routerLink="/administrativos" class="btn btn-secondary" i18n="@@administrativo.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="idAdministrativo" rowType="number" i18n-label="@@administrativo.idAdministrativo.label" label="Id Administrativo" />
    <app-input-row [group]="editForm" field="idUsuReg" rowType="number" i18n-label="@@administrativo.idUsuReg.label" label="Id Usu Reg" />
    <app-input-row [group]="editForm" field="idUsuMod" rowType="number" i18n-label="@@administrativo.idUsuMod.label" label="Id Usu Mod" />
    <app-input-row [group]="editForm" field="fecIngreso" rowType="datetimepicker" i18n-label="@@administrativo.fecIngreso.label" label="Fec Ingreso" />
    <app-input-row [group]="editForm" field="fecSalida" rowType="datetimepicker" i18n-label="@@administrativo.fecSalida.label" label="Fec Salida" />
    <app-input-row [group]="editForm" field="habil" rowType="checkbox" i18n-label="@@administrativo.habil.label" label="Habil" />
    <app-input-row [group]="editForm" field="persona" rowType="select" [options]="personaValues" i18n-label="@@administrativo.persona.label" label="Persona" />
    <input type="submit" i18n-value="@@administrativo.edit.headline" value="Edit Administrativo" class="btn btn-primary mt-4" />
</form>
