<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@docente.edit.headline">Edit Docente</h1>
    <div>
        <a routerLink="/docentes" class="btn btn-secondary" i18n="@@docente.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="idDocente" rowType="number" i18n-label="@@docente.idDocente.label" label="Id Docente" />
    <app-input-row [group]="editForm" field="idUsuReg" rowType="number" i18n-label="@@docente.idUsuReg.label" label="Id Usu Reg" />
    <app-input-row [group]="editForm" field="idUsuMod" rowType="number" i18n-label="@@docente.idUsuMod.label" label="Id Usu Mod" />
    <app-input-row [group]="editForm" field="nroResolucion" rowType="number" i18n-label="@@docente.nroResolucion.label" label="Nro Resolucion" />
    <app-input-row [group]="editForm" field="fecInicioContrato" rowType="datepicker" i18n-label="@@docente.fecInicioContrato.label" label="Fec Inicio Contrato" />
    <app-input-row [group]="editForm" field="fecFinContrato" rowType="datepicker" i18n-label="@@docente.fecFinContrato.label" label="Fec Fin Contrato" />
    <app-input-row [group]="editForm" field="persona" rowType="select" [options]="personaValues" i18n-label="@@docente.persona.label" label="Persona" />
    <input type="submit" i18n-value="@@docente.edit.headline" value="Edit Docente" class="btn btn-primary mt-4" />
</form>
