<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@cronogramaModulo.list.headline">Cronograma Moduloes</h1>
    <div>
        <a routerLink="/cronogramaModulos/add" class="btn btn-primary ms-2" i18n="@@cronogramaModulo.list.createNew">Create new Cronograma Modulo</a>
    </div>
</div>
@if (!cronogramaModuloes || cronogramaModuloes.length === 0) {
<div i18n="@@cronogramaModulo.list.empty">No Cronograma Moduloes could be found.</div>
} @else {
<div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th scope="col" i18n="@@cronogramaModulo.idCronogramaMod.label">Id Cronograma Mod</th>
                <th scope="col" i18n="@@cronogramaModulo.idUsuReg.label">Id Usu Reg</th>
                <th scope="col" i18n="@@cronogramaModulo.idUsuMod.label">Id Usu Mod</th>
                <th scope="col" i18n="@@cronogramaModulo.fecInicio.label">Fec Inicio</th>
                <th scope="col" i18n="@@cronogramaModulo.fecFin.label">Fec Fin</th>
                <th scope="col" i18n="@@cronogramaModulo.estado.label">Estado</th>
                <th scope="col" i18n="@@cronogramaModulo.planEstudioDetalle.label">Plan Estudio Detalle</th>
                <th scope="col" i18n="@@cronogramaModulo.grupo.label">Grupo</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody>
            @for (cronogramaModulo of cronogramaModuloes; track cronogramaModulo.idCronogramaMod) {
            <tr>
                <td>{{ cronogramaModulo.idCronogramaMod }}</td>
                <td>{{ cronogramaModulo.idUsuReg }}</td>
                <td>{{ cronogramaModulo.idUsuMod }}</td>
                <td>{{ cronogramaModulo.fecInicio }}</td>
                <td>{{ cronogramaModulo.fecFin }}</td>
                <td>{{ cronogramaModulo.estado }}</td>
                <td>{{ cronogramaModulo.planEstudioDetalle }}</td>
                <td>{{ cronogramaModulo.grupo }}</td>
                <td>
                    <div class="float-end text-nowrap">
                        <a [routerLink]="['/cronogramaModulos/edit', cronogramaModulo.idCronogramaMod]" class="btn btn-sm btn-secondary" i18n="@@cronogramaModulo.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(cronogramaModulo.idCronogramaMod!)" class="btn btn-sm btn-secondary" i18n="@@cronogramaModulo.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
