<h1 class="mb-4" i18n="@@home.index.headline">Welcome to your new app!</h1>
<p i18n="@@home.index.text">Your app was created with <a href="https://bootify.io" target="_blank">Bootify.io</a> and can now be customized. If you are happy with the result, <strong>please recommend us to other developers</strong> - so Bootify.io can grow further.</p>
<p class="mb-5">
    <span i18n="@@home.index.swagger.text">Swagger is</span>
    <a [href]="environment.apiPath + '/swagger-ui.html'" target="_blank" i18n="@@home.index.swagger.link">available here</a>.
</p>
<div class="row">
    <div class="col-md-4 mb-5">
        <h4 class="mb-3" i18n="@@home.index.exploreEntities">Explore your entities</h4>
        <div class="list-group">
            <a routerLink="/administrativos" class="list-group-item list-group-item-action" i18n="@@administrativo.list.headline">Administrativoes</a>
            <a routerLink="/calificacions" class="list-group-item list-group-item-action" i18n="@@calificacion.list.headline">Calificacions</a>
            <a routerLink="/certificados" class="list-group-item list-group-item-action" i18n="@@certificado.list.headline">Certificadoes</a>
            <a routerLink="/categorias" class="list-group-item list-group-item-action" i18n="@@categoria.list.headline">Categorias</a>
            <a routerLink="/comprobantePagos" class="list-group-item list-group-item-action" i18n="@@comprobantePago.list.headline">Comprobante Pagoes</a>
            <a routerLink="/configuracionCostos" class="list-group-item list-group-item-action" i18n="@@configuracionCosto.list.headline">Configuracion Costoes</a>
            <a routerLink="/criterioEvals" class="list-group-item list-group-item-action" i18n="@@criterioEval.list.headline">Criterio Evals</a>
            <a routerLink="/cronogramaModulos" class="list-group-item list-group-item-action" i18n="@@cronogramaModulo.list.headline">Cronograma Moduloes</a>
            <a routerLink="/detallePagos" class="list-group-item list-group-item-action" i18n="@@detallePago.list.headline">Detalle Pagoes</a>
            <a routerLink="/docentes" class="list-group-item list-group-item-action" i18n="@@docente.list.headline">Docentes</a>
            <a routerLink="/grupos" class="list-group-item list-group-item-action" i18n="@@grupo.list.headline">Grupoes</a>
            <a routerLink="/matriculas" class="list-group-item list-group-item-action" i18n="@@matricula.list.headline">Matriculas</a>
            <a routerLink="/modalidads" class="list-group-item list-group-item-action" i18n="@@modalidad.list.headline">Modalidads</a>
            <a routerLink="/modulos" class="list-group-item list-group-item-action" i18n="@@modulo.list.headline">Moduloes</a>
            <a routerLink="/monografias" class="list-group-item list-group-item-action" i18n="@@monografia.list.headline">Monografias</a>
            <a routerLink="/nivels" class="list-group-item list-group-item-action" i18n="@@nivel.list.headline">Nivels</a>
            <a routerLink="/observacionMonografias" class="list-group-item list-group-item-action" i18n="@@observacionMonografia.list.headline">Observacion Monografias</a>
            <a routerLink="/ocupas" class="list-group-item list-group-item-action" i18n="@@ocupa.list.headline">Ocupas</a>
            <a routerLink="/personas" class="list-group-item list-group-item-action" i18n="@@persona.list.headline">Personae</a>
            <a routerLink="/planEstudios" class="list-group-item list-group-item-action" i18n="@@planEstudio.list.headline">Plan Estudios</a>
            <a routerLink="/planEstudioDetalles" class="list-group-item list-group-item-action" i18n="@@planEstudioDetalle.list.headline">Plan Estudio Detalles</a>
            <a routerLink="/planPagos" class="list-group-item list-group-item-action" i18n="@@planPago.list.headline">Plan Pagoes</a>
            <a routerLink="/programas" class="list-group-item list-group-item-action" i18n="@@programa.list.headline">Programas</a>
            <a routerLink="/revisionMonografias" class="list-group-item list-group-item-action" i18n="@@revisionMonografia.list.headline">Revision Monografias</a>
            <a routerLink="/programacions" class="list-group-item list-group-item-action" i18n="@@programacion.list.headline">Programacions</a>
            <a routerLink="/rols" class="list-group-item list-group-item-action" i18n="@@rol.list.headline">Rols</a>
            <a routerLink="/tareas" class="list-group-item list-group-item-action" i18n="@@tarea.list.headline">Tareas</a>
            <a routerLink="/titulacions" class="list-group-item list-group-item-action" i18n="@@titulacion.list.headline">Titulacions</a>
            <a routerLink="/usuarios" class="list-group-item list-group-item-action" i18n="@@usuario.list.headline">Usuarios</a>
            <a routerLink="/preinscripcions" class="list-group-item list-group-item-action" i18n="@@preinscripcion.list.headline">Preinscripcions</a>
        </div>
    </div>
    <div class="col-md-4 offset-md-2 mb-5">
        <h4 class="mb-3" i18n="@@home.index.explorePages">Explore your pages</h4>
        <div class="list-group">
            <a routerLink="/" class="list-group-item list-group-item-action" i18n="@@inicio.mostrarInicio.headline">Mostrar Inicio</a>
        </div>
    </div>
</div>
