<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@modalidad.edit.headline">Edit Modalidad</h1>
    <div>
        <a routerLink="/modalidads" class="btn btn-secondary" i18n="@@modalidad.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="idModalidad" rowType="number" i18n-label="@@modalidad.idModalidad.label" label="Id Modalidad" />
    <app-input-row [group]="editForm" field="idUsuReg" rowType="number" i18n-label="@@modalidad.idUsuReg.label" label="Id Usu Reg" />
    <app-input-row [group]="editForm" field="idUsuMod" rowType="number" i18n-label="@@modalidad.idUsuMod.label" label="Id Usu Mod" />
    <app-input-row [group]="editForm" field="nombre" i18n-label="@@modalidad.nombre.label" label="Nombre" />
    <input type="submit" i18n-value="@@modalidad.edit.headline" value="Edit Modalidad" class="btn btn-primary mt-4" />
</form>
