<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@certificado.add.headline">Add Certificado</h1>
    <div>
        <a routerLink="/certificados" class="btn btn-secondary" i18n="@@certificado.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="idUsuReg" rowType="number" i18n-label="@@certificado.idUsuReg.label" label="Id Usu Reg" />
    <app-input-row [group]="addForm" field="idUsuMod" rowType="number" i18n-label="@@certificado.idUsuMod.label" label="Id Usu Mod" />
    <app-input-row [group]="addForm" field="fechaEmision" rowType="datepicker" i18n-label="@@certificado.fechaEmision.label" label="Fecha Emision" />
    <app-input-row [group]="addForm" field="estCertificado" i18n-label="@@certificado.estCertificado.label" label="Est Certificado" />
    <app-input-row [group]="addForm" field="administrativo" rowType="select" [options]="administrativoValues" i18n-label="@@certificado.administrativo.label" label="Administrativo" />
    <app-input-row [group]="addForm" field="matricula" rowType="select" [options]="matriculaValues" i18n-label="@@certificado.matricula.label" label="Matricula" />
    <input type="submit" i18n-value="@@certificado.add.headline" value="Add Certificado" class="btn btn-primary mt-4" />
</form>
